/* -------------------------- */
/* ----- INITIAL STYLES ----- */
/* -------------------------- */

@font-face {
  /* Font by Chequered Ink: https://www.fontspace.com/mandatory-plaything-font-f41315 */
  font-family: MandatoryPlaything;
  src: url(../fonts/MandatoryPlaything.ttf);
}
:root {
  --font-h1: "MandatoryPlaything", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-space: "Trispace", sans-serif;
  --color-black: #000000;
  --color-black-20: #0000003c;
  --color-gray: #909090;
  --color-primary: #dee2cc;
  --color-secondary: #d0ff00;
  --color-label: #93987a;
  --color-secondary-30: rgb(208, 255, 0, 0.1);
  --color-tertiary: #cad0ac;
  --color-another: #e7ff7e;
  --linear-gradient-100: linear-gradient(
    120deg,
    rgba(11, 11, 184, 0.7) 0%,
    rgba(13, 177, 209, 0.7) 14%,
    rgba(23, 231, 205, 0.7) 30%,
    rgba(17, 108, 168, 0.7) 46%,
    rgba(61, 100, 228, 0.7) 61%,
    rgba(124, 123, 237, 0.7) 74%,
    rgba(171, 214, 217, 0.7) 85%,
    rgba(78, 12, 130, 0.7) 100%
  );
  --linear-gradient-18: linear-gradient(
    120deg,
    rgba(11, 11, 184, 0.18) 0%,
    rgba(13, 177, 209, 0.18) 14%,
    rgba(23, 231, 205, 0.18) 30%,
    rgba(17, 108, 168, 0.18) 46%,
    rgba(61, 100, 228, 0.18) 61%,
    rgba(124, 123, 237, 0.18) 74%,
    rgba(171, 214, 217, 0.18) 85%,
    rgba(78, 12, 130, 0.18) 100%
  );
  --linear-gradient-30: linear-gradient(
    -120deg,
    rgba(11, 11, 184, 0.3) 0%,
    rgba(13, 177, 209, 0.3) 14%,
    rgba(23, 231, 205, 0.3) 30%,
    rgba(17, 108, 168, 0.3) 46%,
    rgba(61, 100, 228, 0.3) 61%,
    rgba(124, 123, 237, 0.3) 74%,
    rgba(171, 214, 217, 0.3) 85%,
    rgba(78, 12, 130, 0.3) 100%
  );
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

/* ------------------------------------- */
/* ----- BACKGROUND STYLES (STARS) ----- */
/* ------------------------------------- */

body {
  position: relative;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background: var(--color-black);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100% !important;
  height: 100% !important;
}

/* ------------------------- */
/* ----- HEADER STYLES ----- */
/* ------------------------- */

header {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}
header h1 {
  position: relative;
  margin-bottom: 10px;
  font-family: var(--font-h1);
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-primary);
  opacity: 0;
  transition: opacity 3s linear;
  cursor: default;
;}

header nav {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  transition: opacity 6s linear;
}
header nav .button {
  position: relative;
  width: 180px;
  margin: 10px;
  padding: 8px 8px;
  background-color: transparent;
  border-right: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
  font-family: var(--font-space);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.5s;
}
header nav .button:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  box-shadow: 0px 0px 4px 1px var(--color-secondary);
  text-shadow: 0px 0px 10px var(--color-secondary);
  letter-spacing: 4px;
}
header nav .button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 100%;
  z-index: 1;
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  transform: scale(0, 1);
  transition: all 0.5s;
}
header nav .button:hover::before {
  transform: scale(1, 1);
}

/* ICONO DE MENU, MOBILE */
header nav .dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: none;
  justify-content: center;
  align-items: center;
}
header nav .dropdown .menu-icon {
  position: absolute;
  right: 10%;
  width: 52px;
  height: 58px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
header nav .dropdown .menu-icon .line {
  position: relative;
  width: 80%;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 2px;
  transition: transform 0.3s ease;
  z-index: 3;
}
header nav .dropdown .menu-icon.active .line {
  box-shadow: 0 0 4px 0px var(--color-primary);
}
header nav .dropdown .menu-icon.active #line1 {
  transform: translate(12px, 12px) rotate(40deg) scaleX(0.6);
}
header nav .dropdown .menu-icon.active #line2 {
  transform: rotate(180deg);
}
header nav .dropdown .menu-icon.active #line3 {
  transform: translate(12px, -12px) rotate(-40deg) scaleX(0.6);
}
header nav .dropdown .dropdown-menu.active {
  transform: scale(1, 1);
}
header nav .dropdown .dropdown-menu {
  width: 90%;
  height: 80%;
  background: var(--linear-gradient-18);
  border-radius: 12px;
  display: flex; /* Ocultar el menú desplegable */
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  transform-origin: 100% 50%;
  transform: scale(0, 1);
  transition: transform 0.3s linear;
}

header nav .dropdown .dropdown-menu .dropdown-button {
  height: 70%;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.868);
  border-radius: 12px;
  border: 4px inset rgba(68, 68, 112, 0.486);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-family: var(--font-space);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  /* height: 40px; */
}
header nav .dropdown .dropdown-menu .dropdown-button:last-child {
  margin-right: 100px;
}

/* -- Header on top, after clicking a button -- */
.header-top {
  position: static;
  max-width: 1300px;
  height: 10vh;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}
.header-top .title-top {
  width: 400px;
  margin: 0;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-top .nav-top {
  width: 55%;
  min-width: 600px;
  align-items: center;
  /* justify-content: center; */
}
.header-top .nav-top .button {
  width: 150px;
  font-size: 10px;
}

/* ------------------------------------- */
/* ----- MAIN CONTENT AND SECTIONS ----- */
/* ------------------------------------- */

#about,
#projects,
#contact {
  display: none;
}
main {
  position: relative;
  height: 90vh;
  z-index: -1;
}
.container {
  max-width: 1000px;
  min-height: 560px;
  height: 90%;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 12px;
  background: var(--linear-gradient-18);
}
.title {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-space);
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--color-another);
}
.content {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* subtitles (h2,h3) will be all the same, in all page */
h2,
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-space);
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-another);
}
h2 {
  font-size: 20px;
  font-weight: 400;
}
h3 {
  font-size: 14px;
  font-weight: 500;
}
.content-button {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--linear-gradient-30);
  border-radius: 8px;
  border: 3px outset rgba(69, 75, 133, 0.14);
  font-family: var(--font-space);
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-tertiary);
  cursor: pointer;
}
.content-button:hover {
  background-color: var(--color-black);
  border-style: inset;
  color: var(--color-primary);
  text-shadow: 0px 0px 2px var(--color-primary);
}

/* ------------------------- */
/* ----- ABOUT SECTION ----- */
/* ------------------------- */

.content .text-container {
  height: auto;
  overflow: auto;
}
.content .text-container p {
  margin-bottom: 8px;
  font-size: 14px;
  font-family: var(--font-space);
  font-weight: 200;
  line-height: 20px;
  color: var(--color-primary);
}
.content .text-container .black {
  font-weight: 400;
  text-shadow: 0px 0px 1px var(--color-primary);
}
.content .stack-container {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content .stack-container .stack {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.content .stack-container .stack .icon {
  width: 60px;
  height: 60px;
  list-style: none;
}
.content .stack-container .stack .icon .icon-svg {
  width: 100%;
  height: 80%;
  color: var(--color-tertiary);
  transition: all 1.5s;
}
.content .stack-container .stack .icon .icon-svg:hover {
  color: var(--color-primary);
  filter: drop-shadow(0px 0px 4px var(--color-secondary));
  transition: all 0.3s;
}

.content .certificates {
  width: 50%;
  height: 5%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content .certificates p {
  display: flex;
  align-items: center;
  font-family: var(--font-space);
  font-weight: 200;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--color-primary);
}

.content .mobile-button {
  display: none;
}
/* ---------------------------- */
/* ----- PROJECTS SECTION ----- */
/* ---------------------------- */

.card {
  height: 45%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
}
.card .img {
  width: 300px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.card .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: var(--color-black);
}
.card .img img {
  width: 100%;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
  object-fit: cover;
  opacity: 100%;
}
.card .img img:hover {
  transform: scale(1.2);
  opacity: 80%;
}
.card .card-content {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
.card .card-content .text-container p {
  font-size: 12px;
}
.card .card-content .buttons {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
}
.card .card-content .buttons .text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card .card-content .buttons .text-container p {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-family: var(--font-space);
  font-weight: 200;
  line-height: 14px;
  color: var(--color-primary);
  text-align: center;
}
.card .card-content .buttons .text-container h3 {
  font-size: 10px;
  font-weight: 500;
}

/* ------------------------- */
/* ----- CONTACT MODAL ----- */
/* ------------------------- */

#contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.full-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
.modal {
  display: none;
  flex-direction: column;
  position: relative;
  max-width: 800px;
  width: 80%;
  max-height: 500px;
  height: 80%;
  border-radius: 12px;
}
.modal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000000f0;
  border-radius: 12px;
}
.modal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: var(--linear-gradient-100) !important;
  opacity: 25%;
  border-radius: 12px;
}
#close-modal {
  position: absolute;
  right: 24px;
  z-index: 1;
  background-color: transparent;
  border: none;
  font-family: var(--font-orbitron);
  font-size: inherit;
  font-weight: 400;
  color: inherit;
  cursor: pointer;
}
/* Contact content */
.modal .title {
  height: 15%;
}
.modal .content {
  z-index: 1;
}
.modal .content p {
  width: 90%;
  height: 20%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 20px;
  color: var(--color-primary);
  font-family: var(--font-space);
  text-shadow: 0px 0px 1px var(--color-secondary);
}
.content form {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.content form label {
  width: 15%;
  height: 16px;
  padding-right: 4px;
  font-family: var(--font-space);
  font-size: 14px;
  font-weight: 200;
  text-align: end;
  letter-spacing: 2px;
  color: var(--color-label);
}
.content form .msg {
  margin-top: 10px;
  align-self: flex-start;
}
.content form input,
.content form textarea {
  width: 85%;
  height: 30px;
  padding: 4px 8px;
  background-color: var(--color-black-20);
  border-radius: 8px;
  border: 2px inset #00000021;
  font-family: var(--font-orbitron);
  letter-spacing: 1px;
  color: var(--color-gray);
}
.content form input:focus-visible,
.content form textarea:focus-visible {
  outline: none;
  border: 1px inset #0000006b;
  padding-left: 9px;
}
.content form textarea {
  height: 100px;
  resize: none;
}
.content form textarea::-webkit-scrollbar {
  width: 12px;

  /* padding-right: 4px; */
}
.content form textarea::-webkit-scrollbar-track {
  background: #00000023;
  border-radius: 8px;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.content form textarea::-webkit-scrollbar-thumb {
  background: #00000048;
  border-radius: 8px;
  box-shadow: outset 0 0 2px 0 rgba(0, 0, 0, 0.8);
}
.content form textarea::-webkit-scrollbar-thumb:hover {
  background: #00000079;
}
.content form .submit-button {
  width: 150px;
  height: 40px;
  padding: 0;
  margin: 16px 0;
}

/* ---------------------- */
/* ----- ANIMATIONS ----- */
/* ---------------------- */

/* - HEADER ANIMATION - */
.header-animation {
  animation: header-animation 1.5s;
}
@keyframes header-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0, 1);
  }
  90% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* - SECTION ON ANIMATION - */
.section-on {
  display: flex !important;
}
.section-on-animation {
  animation: section-on 0.3s;
}
.section-off-animation {
  transform: scale(1, 0);
  transition: transform 0.3s;
}
@keyframes section-on {
  0% {
    transform: scale(1, 0);
  }
  50% {
    transform: scale(1, 0);
  }
  80% {
    transform: scale(1, 1);
  }
}

/* - CANNOT TRAVEL TO SAME SECTION WE'RE IN - */
.animation-zumbido {
  animation: animation-zumbido 0.3s;
}
@keyframes animation-zumbido {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(5px);
  }
}

/* - FULL DIV ANIMATION - */

.full-div-on {
  opacity: 75%;
  animation: opacity 0.5s linear;
}
.full-div-off {
  opacity: 0%;
  animation: opacity-out 0.5s linear;
}
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 75%;
  }
}
@keyframes opacity-out {
  0% {
    opacity: 75%;
  }
  100% {
    opacity: 0%;
  }
}

/* TOGGLE OPACITY */

.opacity-toggle {
  opacity: 0.2;
}


/* ------------------------- */
/* ----- MEDIA QUERIES ----- */
/* ------------------------- */

/* TABLETS */
@media only screen and (max-width: 1023px) {
  /* Inicio */
  header h1#name-title {
    width: 60%;
    text-align: center;
    line-height: 56px;
    margin-bottom: 50px;
  }
  header h1#name-title span {
    text-align: center;
  }
  header h1#name-title span:nth-child(n + 6) {
    font-size: 68px;
    font-weight: 900;
  }
  header h1#name-title span:nth-child(-n + 5) {
    font-size: 112px;
    line-height: 92px;
    font-weight: 300;
  }
  header nav {
    width: 60%;
    min-width: 600px;
  }
  header nav .button {
    width: 28%;
    font-size: 12px;
  }
  /* Acerca de */
  .header-top {
    max-width: none;
  }
  .header-top #name-title {
    transform-origin: 10% 50%;
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  }
  .header-top #name-title.disabled {
    transform: scale(0, 1);
    opacity: 0;
  }
  .header-top #name-title {
    width: 500px;
    z-index: 0;
    margin: 18px 0 0;
  }
  .header-top #name-title span:nth-child(n) {
    font-size: 36px;
  }
  .header-top .nav-top {
    width: 20%;
    min-width: 100px;
    height: 42px;
  }
  .header-top .nav-top .menu-icon {
    display: flex;
    transition: opacity 0.5s ease;
  }
  .header-top .nav-top .button {
    display: none;
  }
  .header-top .nav-top .dropdown {
    display: flex;
    align-items: flex-end;
    z-index: 0;
  }
  .header-top .nav-top .dropdown .dropdown-menu .dropdown-button:last-child {
    margin-right: 80px;
  }
  .header-top .nav-top .dropdown .menu-icon {
    width: 32px;
    padding: 14px 0;
    /* align-self: center; */
    top: calc(50% - 20px);
  }
  .header-top .nav-top .dropdown .menu-icon.active #line1 {
    transform: translate(12px, 6px) rotate(48deg) scaleX(0.6);
  }
  .header-top .nav-top .dropdown .menu-icon.active #line3 {
    transform: translate(12px, -6px) rotate(-48deg) scaleX(0.6);
  }
  /* Sección */
  main {
    height: 92vh;
  }
  main .container {
    width: 90%;
    height: 90%;
    position: relative;
    top: calc(50% - 48%);
  }
  main .container .content .text-container p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    letter-spacing: 1px;
  }
  main .container .content .stack-container {
    height: 25%;
  }
  main .container .content .stack-container h3 {
    font-size: 18px;
  }
  main .container .content .stack-container .stack {
    height: 70%;
    width: 90%;
    margin: 0 auto;
  }
  main .container .content .stack-container .stack .icon {
    width: 15%;
    height: 50%;
  }
  main .container .content .certificates {
    margin: 0 auto;
    width: 80%;
    height: 8%;
  }
  main .container .content .certificates p {
    font-size: 16px;
  }
  main #projects.container .content .card .img {
    display: none;
  }
  main #projects.container .content .card .card-content {
    width: 85%;
  }
  main #projects.container .content .card .card-content .buttons .text-container h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  main #projects.container .content .card .card-content .buttons .text-container p {
    font-size: 14px;
  }
  main #contact .modal {
    height: 80%;
    max-height: 700px;
  }
  main #contact .modal .content .contact-h3 {
    height: 20%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
  }
  main #contact .modal .content form {
    margin-bottom: 20px;
  }
  main #contact .modal .content form label,
  main #contact .modal .content form label.msg {
    width: 94%;
    height: 4%;
    position: relative;
    top: 6px;
    text-align: start;
    font-size: 14px;
  }
  main #contact .modal .content form input, 
  main #contact .modal .content form textarea {
    width: 100%;
    font-size: 16px;
  }
  main #contact .modal .content form input {
    height: 8%;
  }
  main #contact .modal .content form input.submit-button {
    width: 40%;
  }
}

@media only screen and (max-width: 767px) {
  header h1#name-title {
    line-height: 16px;
    width: 80%;
    margin: 0;
    top: -60px;
  }
  header h1#name-title span:nth-child(-n + 5) {
    font-size: 78px;
    font-weight: 100;
    line-height: 64px;
  }
  header h1#name-title span:nth-child(n + 6) {
    font-size: 42px;
    line-height: 40px;
  }
  header nav {
    position: absolute;
    top: calc(63% - 90px);
    min-width: 150px;
    width: 60%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  header nav .button {
    width: 60%;
    min-width: 175px;
    font-size: 9px;
  }
  header nav.nav-top {
    position: static;
  }
  .header-top #name-title.title-top {
    top: 0;
  }
  .header-top #name-title span:nth-child(n) {
    font-size: 22px;
  }
  .header-top .nav-top .dropdown .menu-icon {
    width: 28px;
    padding: 18px 0;
  }
  .header-top .nav-top .dropdown .menu-icon .line {
    height: 2px;
  }
  .header-top .nav-top .dropdown .menu-icon.active #line1 {
    transform: translate(6px, 11px) rotate(-36deg) scaleX(0.6);
  }
  .header-top .nav-top .dropdown .menu-icon.active #line3 {
    transform: translate(6px, -11px) rotate(36deg) scaleX(0.6);
  }
  header nav .dropdown .dropdown-menu .dropdown-button {
    font-size: 9px;
    letter-spacing: 1px;
    width: 25%;
    padding: 0 16px;
    text-align: center;
  }
  .header-top .nav-top .dropdown .dropdown-menu .dropdown-button:last-child {
    margin-right: 54px;
  }
  main .container {
    top: 16px;
    height: 85%;
  }
  main #about.container .title {
    position: absolute;
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
    transition: transform 0.5s ease-out;
  }
  main #about.container .content {
    justify-content: space-between;
    height: 85%;
  }
  main #about.container .content .text-container {
    position: absolute;
    top: 9%;
    width: 90%;
    height: 78%;
    transition: transform 0.5s ease-out;
  }
  main #about.container .content .text-container p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0;
  }
  main #about.container .content .stack-container {
    position: relative;
    left: 120%;
    width: 100%;
    height: 70%;
    transition: transform 0.5s ease-out;
  }
  main #about.container .content .stack-container h3 {
    width: 80%;
    letter-spacing: 8px;
    line-height: 28px;
    margin: 0 auto;
    text-align: center;
  }
  main #about.container .content .stack-container .stack .icon {
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #about.container .content .stack-container .stack .icon a {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main #about.container .content .certificates {
    position: relative;
    left: 120%;
    width: 100%;
    height: 30%;
    flex-direction: column;
    transition: transform 0.5s ease-out;
  }
  main #about.container .content .certificates p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-another);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  main #about.container .content .mobile-button {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 60px);
    width: 120px;
    height: 42px;
    background: rgba(47, 221, 195, 0.23);
    border-radius: 8px;
    border: 4px outset rgba(47, 221, 195, 0.23);
    font-size: 16px;
    color: var(--color-gray);
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.1s linear;
    user-select: none;
  }
  main #about.container .content .mobile-button:active {
    border: 4px outset rgba(47, 221, 195, 0.12);
    color: var(--color-primary);
    text-shadow: 0 0 2px var(--color-primary);
    background: rgba(47, 221, 195, 0.12);
    letter-spacing: 3px;
  }
  .moveX {
    transform: translateX(-120%);
  }
  /* Projects Section */
  main #projects.container .title {
    position: relative;
    width: 100%;
    height: 8%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
    transition: transform 0.5s ease-out;
  }
  main #projects .content .card {
    height: 48%;
  }
  main #projects .content .card .img {
    display: none;
  }
  main #projects .content .card .card-content {
    /* display: none; */
    width: 90%;
    height: 100%;
  }
  main #projects .content .card .card-content h2 {
    height: 8%;
    font-size: 12px;
    font-weight: 500
  }
  main #projects .content .card .card-content .text-container {
    height: auto;
  }
  main #projects .content .card .card-content .text-container p {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0;
  }
  main #projects .content .card .card-content .buttons {
    width: 100%;
    height: 30%;
    flex-direction: column;
  }
  main #projects .content .card .card-content .buttons .text-container {
    width: 100%;
  }
  main #projects.container .content .card .card-content .buttons .text-container h3 {
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 200;
  }
  main #projects.container .content .card .card-content .buttons .text-container p {
    font-size: 10px;
    font-weight: 100;
  }

  main #projects .content .card .card-content .buttons .content-button {
    width: 50%;
    height: 40%;
    margin: 0 auto;
    font-size: 12px;
  }
  main #contact .full-div {
    z-index: 1;
  }
  main #contact .modal {
    z-index: 2;
    max-height: 650px;
    width: 90%;
  }
  main #contact .modal .title{
    height: 10%;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
  }
  main #contact .modal .content .contact-h3 {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    height: auto;
  }
  main #contact .modal .content form {
    margin: 0 auto;
  }
  main #contact .modal .content form label,
  main #contact .modal .content form label.msg {
    top: 8px;
    font-size: 12px;
  }
  main #contact .modal .content form input, 
  main #contact .modal .content form textarea {
    font-size: 14px;
  }

}
